/*ipad responsive*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/*ipad responsive-cloose*/

@media screen and (min-width: 1024px) {
    .dropdown-menu.pre-scrollable.show {
        min-width: 390%;
        left: -47% !important;
        transform: translate3d(-139px, 40px, 0px) !important;
    }
}

/*desktop-cloose*/

/*mobile-responsive*/

@media screen and (max-width: 812px) {
    body {
        padding: 0%;
    }

    .dropdown-menu.pre-scrollable.show {
        width: 100%;
    }

    ul.navbar-nav.attr-nav.align-items-center li.dropdown.cart_dropdown {
        margin-top: -45px;
    }

    .cart_box.dropdown-menu.dropdown-menu-right.show {
        right: 0;
    }

    .menu-bar .dropdown-menu.show {
        display: inline-block;
        position: relative !important;
        left: -83px !important;
        background-color: transparent;
        margin-bottom: 20px;
    }
    .menu-bar .dropdown-toggle::after {
        float: none;
    }

    .logo {
        width: 200px;
        margin-bottom: 20px;
    }
    .home-sec-2 h3.box-shadow {
        font-size: 13px;
    }
    .home-sec-2 .col-sm-12.icon-text {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }
    .owl-carousel .owl-item img {
        width: 60% !important;
        margin: 0 auto;
    }
    .featured-product-section .item.product-box {
        text-align: center;
    }
    .home-sec-3 .product-box p {
        margin: 0 auto;
    }
    .item.product-box {
        padding: 32px;
    }
    .home-sec-5 ul li {
        margin-bottom: 13px !important;
        padding-left: 4px;
    }
    section.home-sec-6,
    section.home-sec-3-1,
    section.home-sec-7,
    footer.footer {
        padding: 40px 20px;
    }
    .home-sec-7 .color-box p {
        padding: 0 20px 0 0;
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot {
        font-size: 8px !important;
    }
    .img_wrapper {
        text-align: center;
    }

    .nav-link.dropdown a {
        display: inline-block !important;
        width: auto;
    }
    .dropdown-item.dropdown-toggle {
        position: relative;
    }
    .dropdown-toggle::after {
        position: absolute;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .nav-link.dropdown::after {
        border: 0 none;
        content: '\f3d0';
        font-family: 'Ionicons';
        margin-left: 5px;
        vertical-align: middle;
        position: absolute;
        top: 11px;
        right: 20px;
    }
    .home-sec-2 .col-sm-12.form-item-search p{
        text-align: center;
    }
}

/*header*/

/*top-header*/

.row.top-header {
    background: #eeeeee;
    padding-top: 15px;
    padding-bottom: 12px;
}

.row.top-header a.sign {
    float: right;
    font-weight: 500;
}

.dropdown a#dropdownMenuButton {
    color: white;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

li.dropdown.cart_dropdown a.nav-link.cart_trigger {
    padding-top: 20px;
}
/*top-header*/

/*middle-header*/

.dropdown1 a#dropdownMenuButton {
    color: white;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.dropdown-menu.pre-scrollable.show a.dropdown-item {
    border-bottom: 1px solid #eeeeee;
}

.middle-header span.amt {
    font-size: 12px;
    color: white;
}

.middle-header i.fa.fa-shopping-basket {
    color: white;
}
.middle-header ul.navbar-nav.attr-nav.align-items-center {
    float: right;
}

.middle-header span.amt {
    font-size: 10px;
    color: white;
}

.middle-header i.fas.fa-shopping-basket {
    font-size: 27px !important;
    color: white;
}

section.middle-header {
    background: #1d2534;
}

/*middle-header-cloose*/

/*bottom-header-cloose*/

section.bottom-header .form-code {
    display: inline-flex;
    width: 100%;
}

section.bottom-header .form-code input.form-input {
    width: 100%;
    padding: 10px 15px 10px 15px;
}

section.bottom-header .form-code a {
    border: 1px solid #f8642c;
    background: #f8642c;
    color: white;
    padding: 10px 15px 0px 15px;
}

section.bottom-header {
    background: #1d2534;
    padding-bottom: 15px;
}

/*bottom-header-cloose*/

/*header-cloose*/

/*footer*/

footer.footer {
    background: #f3f3f3;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer .col-sm-12.footer-form-item {
    background: white;
    padding: 25px 40px 40px 25px;
}

footer.footer p {
    margin-bottom: 15px;
}

.footer .col-sm-12.footer-form-item .form-code {
    display: inline-flex;
    width: 100%;
}

.footer .col-sm-12.footer-form-item .form-code input.form-input {
    width: 100%;
    padding: 5px;
}

.footer .col-sm-12.footer-form-item .form-code a {
    border: 1px solid #0f8482;
    padding: 6px 15px 0px 15px;
    background: #0f8482;
    color: white;
}

.footer .col-sm-12.links ul {
    list-style: none;
    /*padding-top: 20px;*/
}

.footer .col-sm-12.links ul li {
    padding-top: 5px;
}

/*footer-cloose*/

/*home-page*/

body {
    background: white none repeat;
    overflow-x: hidden;
}

/*home-sec-1*/

.home-sec-1 img.banner {
    width: 100%;
}

/*home-sec-1-cloose*/

/*home-sec-2*/

section.home-sec-2 {
    background: #f2f4f7;
    position: relative;
    padding-bottom: 20px;
}

.home-sec-2 h3.box-shadow {
    border: 1px solid white;
    background: white;
    position: absolute;
    margin-top: -32px;
    padding: 15px 20px 15px 20px;
}

.home-sec-2 .col-sm-12.icon-text {
    padding-top: 5%;
    padding-bottom: 5%;
}

.home-sec-2 .col-sm-12.icon-text i.fas.fa-check {
    color: white;
    background: #1d2534;
    font-size: 11px;
    border: 2px solid;
    border-radius: 50%;
    padding: 6px;
    margin-bottom: 5px;
}

span.check-text {
    font-weight: 500;
}

section.home-sec-2 a.how-work {
    color: rebeccapurple;
    padding-left: 3%;
}

section.home-sec-2 a.how-work:hover {
    color: #292b2c;
}

.home-sec-2 .col-sm-12.form-item-search {
    background: white;
    padding: 20px 50px 20px 50px;
}

.home-sec-2 .col-sm-12.form-item-search p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.home-sec-2 .form-code {
    display: inline-flex;
    width: 100%;
}

.home-sec-2 .col-sm-12.form-item-search input.form-input {
    width: 100%;
    padding: 6px;
}

.home-sec-2 .col-sm-12.form-item-search i.fas.fa-map-marker-alt {
    background: #0f8482;
    color: white;
    border: 2px solid #0f8482;
    padding: 10px 15px 0px 15px;
    height: 40px;
}

.col-sm-12.banner-image-2 a {
    padding-left: 0px;
}

.col-sm-12.banner-image-2 img.banner {
    width: 100%;
}

.col-sm-12.banner-image-2 {
    background: white;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*home-sec-2-cloose*/

/*home-sec-3-1*/

section.home-sec-3-1 {
    background: #eef3fc;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-sec-3-1 p {
    margin-bottom: 15px;
}

.home-sec-3-1 button.infoblock-click {
    width: 100%;
    text-align: left;
    background: white;
    border: 1px solid white;
    padding: 10px;
    position: relative;
}

.home-sec-3-1 button.infoblock-click:after {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: calc(50% - 0.75rem);
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    font-size: 0.75rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-grey-dark);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZD0iTTExIDEwTDcuODU5IDYuNThhLjY5NS42OTUgMCAwMTAtLjk3OC42OC42OCAwIDAxLjk2OSAwbDMuODMgMy45MDhhLjY5Ny42OTcgMCAwMTAgLjk3OWwtMy44MyAzLjkwOGEuNjguNjggMCAwMS0uOTY5IDAgLjY5NS42OTUgMCAwMTAtLjk3OEwxMSAxMHoiLz48L3N2Zz4=);
}

.home-sec-3-1 span.create-acc a {
    font-size: 15px;
    padding-left: 12px;
    color: rebeccapurple;
}

.home-sec-3-1 span.create-acc a:hover {
    color: #292b2c;
}

/*home-sec-3-1*/

/*home-sec-3*/

section.home-sec-3.container-fluid {
    background: #f2f4f7;
}

.home-sec-3 h2 {
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-sec-3 h2 span {
    color: #fc0c0d;
}

.home-sec-3 .product-box p {
    /*padding-left: 10px;*/
    margin-bottom: 5px;
    text-transform: capitalize;
}

.home-sec-3 .product-box .col-sm-2 {
    background: white;
    box-shadow: 5px 5px 5px 3px;
    padding: 12px;
    vertical-align: middle;
}

.item.product-box {
    background: white;
    padding: 12px;
    vertical-align: middle;
    height: 585px;
}

.home-sec-3 .product-box p.text-before {
    font-weight: bold;
}

.product-box p.text-before span {
    font-size: 12px;
    padding-left: 5px;
    font-weight: 500;
}

.home-sec-3 .product-box p.text-before-2 {
    font-size: 13px;
    font-weight: bold;
    margin-top: -5px;
    /*border-bottom: 2px solid #f0f0f0;*/
    padding-bottom: 10px;
}

.home-sec-3 .product-box p.text-before-2 span {
    padding-left: 5px;
    font-weight: 400;
    font-size: 10px;
}

.home-sec-3 .product-box a button {
    background: #1d2534;
    color: white;
    font-weight: normal;
    border: #1d2534;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 10px;
    outline: 0;
    width: 100%;
}

/*home-sec-3-cloose*/

/*home-sec-4*/

section.home-sec-4.container-fluid {
    background: #f2f4f7;
}

.home-sec-4 h2 {
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-sec-4 h2 span {
    color: #fc0c0d;
}

.home-sec-4 .product-box p {
    padding-left: 10px;
}

.home-sec-4 .product-box .col-sm-2 {
    background: white;
    box-shadow: 5px 5px 5px 3px;
    padding: 12px;
    vertical-align: middle;
}

.home-sec-4 .product-box p.text-before {
    font-weight: bold;
}

.home-sec-4 .product-box p.text-before span {
    font-size: 12px;
    padding-left: 5px;
    font-weight: 500;
}

.home-sec-4 .product-box p.text-before-2 {
    font-size: 13px;
    font-weight: bold;
    margin-top: -5px;
    /*border-bottom: 2px solid #f0f0f0;*/
    padding-bottom: 10px;
}

.home-sec-4 .product-box p.text-before-2 span {
    padding-left: 5px;
    font-weight: 400;
    font-size: 10px;
}

.home-sec-4 .product-box a button {
    background: #fc0c0d;
    color: white;
    font-weight: normal;
    border: #fc0c0d;
    padding: 4px 10px 5px 10px;
    border-radius: 10px;
    outline: 0;
}

/*home-sec-4-cloose*/

/*home-sec-5*/

section.home-sec-5 .container {
    background: #dde9ed;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 60px;
}

.home-sec-5 ul li {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-top: 5px;
}

.home-sec-5 ul li a {
    border: 1px solid white;
    background: white;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase !important;
}

/*home-sec-5-cloose*/

/*home-sec-6*/

section.home-sec-6 {
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #f2f4f7;
}

.home-sec-6 p {
    margin-bottom: 0px;
    padding-top: 10px;
}

.home-sec-6 p span {
    font-size: 25px;
    font-weight: 500;
    padding-right: 15px;
}

.home-sec-6 a {
    color: rebeccapurple;
    padding-right: 5px;
    padding-left: 3%;
}

.home-sec-6 a:hover {
    color: #292b2c;
}

/*home-sec-6-cloose*/

/*home-sec-7*/

section.home-sec-7 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.home-sec-7 h2 {
    font-size: 27px;
}

.home-sec-7 .color-box {
    background: #f5a74b;
    height: 530px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.home-sec-7 .color-box p {
    color: white;
    font-size: 15px;
}

.home-sec-7 button.become-member-bt {
    background: #374c63;
    color: white;
    border: #374c63;
    padding: 5px 15px 5px 15px;
}

.home-sec-7 .color-box a {
    color: rebeccapurple;
}

.home-sec-7 .color-box a:hover {
    color: #292b2c;
}

.home-sec-7 .color-box2 {
    background: #f2f2ed;
    height: 530px;
    border-top-style: groove;
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
}

.home-sec-7 .color-box2 span {
    padding: 20px;
}

.home-sec-7 .color-box2 h3 {
    font-size: 22px;
    line-height: 40px;
    width: 76%;
    padding: 20px;
}

.home-sec-7 .color-box3 {
    background: #f2f2ed;
    height: 530px;
    border-top-style: groove;
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
}

.home-sec-7 .color-box3 span {
    padding: 20px;
}

.home-sec-7 .color-box3 h3 {
    font-size: 22px;
    line-height: 40px;
    width: 76%;
    padding: 20px;
}

/*home-sec-7-cloose*/

/*home-page-cloose*/

/*product-page*/

section.shop-sec-1.container-fluid img {
    width: 100%;
}

section.shop-sec-1.container-fluid {
    padding: 15px;
}

.col-sm-8.shade {
    padding-left: 65px;
}

.shop-sec-1 .box-shade {
    background: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
}

p.sku {
    font-weight: 700;
}

p.sku span {
    font-size: 11px;
    font-weight: 400;
}

h3.price {
    color: #fc0c0d;
    font-weight: 700;
}

h3.price span {
    color: black;
    font-size: 14px;
    font-weight: 400;
}

p.price {
    color: #fc0c0d;
    font-weight: 700;
}

p.price span {
    color: black;
    font-size: 11px;
    font-weight: 400;
}

.addtocart-selector.small {
    display: inline-flex;
    padding-bottom: 25px;
}

.addtocart-selector.small label {
    font-weight: bold;
    padding-right: 10px;
}

.addtocart-qty input.addtocart-input {
    width: 40%;
    text-align: center;
    border: 2px solid black;
    padding-top: 8px;
    padding-bottom: 8px;
}

.addtocart-selector.small button {
    background: #fc0c0d;
    color: white;
    border: #fc0c0d;
    font-weight: 700;
    padding: 10px 25px 10px 25px;
    margin-left: -24%;
}

.review {
    background: #e4e4e4;
    display: table;
    margin: 0 auto;
}

.review img.review {
    width: 35px;
    padding-left: 10px;
    margin-left: 5px;
}

.review-text {
    background: #e4e4e4;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.review-text p {
    font-weight: 600;
}

.review-text h4 {
    font-weight: 500;
}

.star-rating span.Rating {
    font-weight: 600;
    padding-right: 20px;
}

.star-rating .fa-star {
    color: #fc0c0d;
}

.form-group {
    display: inline-flex;
    width: 90%;
    padding-top: 20px;
}

.form-group input#exampleInputEmail1 {
    margin-left: 20px;
}

.form-group span {
    font-weight: 600;
    margin-top: 5px;
}

.form-group button {
    margin-left: 20px;
    background: #1d2534;
    color: white;
    border: #1d2534;
    padding: 5px 15px 5px 15px;
    font-weight: 500;
}

/*mobile-responsive*/

@media screen and (max-width: 812px) {
    section.shop-sec-1.container-fluid img {
        width: 100%;
    }

    .col-sm-2.color {
        min-width: 28%;
        padding-top: 8px;
    }

    .col-sm-8.shade {
        padding-left: 0px;
    }

    .form-group button {
        width: 140px;
    }
}

/*mobile-responsive*/

/*product-page-cloose*/

.owl-prev,
.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border: 0px solid black;
}

.owl-prev {
    left: -20px;
}

.owl-next {
    right: -20px;
}

.owl-prev i,
.owl-next i {
    transform: scale(2, 5);
    color: #fc0c0d;
}

.custom-tab {
    background: #e4e4e4;
    max-width: 28% !important;
    margin-left: 15px;
    padding-top: 10px;
}

.testinggit {
}

/*checkout page*/

button.place-order.d-block.theme_btn.text-uppercase.text-center {
    background: #1d2534;
    font-weight: 500;
    border: #1d2534;
    color: white;
    padding: 5px 20px 5px 20px;
}

input#billing_address2 {
    /*margin-top: 0px !important;*/
}

label#email-error {
    padding-left: 25px;
}

.form-group {
    display: block;
}

section.checkout-table {
    background: #fbfbfb;
}

span.collect {
    color: #7878d4;
}

/*checkout page-cloose*/

/*cart page*/

p.checkout-bt {
    background: #1d2534;
    border: #1d2534;
    padding: 5px 10px 5px 10px;
}

p.checkout-bt a {
    color: white;
    font-weight: 500;
}

/*cart page-cloose*/

/*my account-page*/

button.theme_btn:hover {
    background: black;
    color: white;
}

button.theme_btn {
    background: #1d2534;
    color: white;
    border: #1d2534;
    padding: 10px 15px 10px 15px;
    font-weight: 500;
    margin-top: 6% !important;
}

.col-12.col-md-6.text-right {
    text-align: center !important;
}

/*my account-page-cloose*/

/*shop-page*/

form#frm-addtocart {
    display: block !important;
}

span.cart_text {
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    background: #fc0c0d;
    border: #fc0c0d;
    padding: 3px 15px 3px 15px;
}

a.theme_btn.text-white {
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    background: #1d2534;
    border: #1d2534;
    padding: 3px 15px 3px 15px;
}

/*shop-page-cloose*/

/* desgin fixes start */

.truncate {
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured-product-section .item.product-box {
    height: 100%;
}

.home-sec-3-1 p {
    margin-bottom: 15px;
}
/* desgin fixes end */

/*product page css start*/

.order-product {
    margin: 30px 0;
}

.order-product .order-product-detail .order-back-link a {
    color: #b5b5b5;
    font-size: 14px;
    text-decoration: underline;
}
.order-product .order-product-detail .sku {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.order-product .order-product-detail h3.price {
    margin: 0;
}

.order-product .order-product-detail p.price {
    margin: 0;
}

.order-product .order-product-detail p.price span {
    font-weight: normal;
    font-size: 13px;
    margin: 0;
}

.order-product .order-product-detail .page-title {
    text-transform: capitalize;
    color: #282828;
    margin-bottom: 15px;
}
.social-media-btn.btn {
    padding: 0;
}
.social-media-btn i {
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 1.8;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.social-media-btn i.blue {
    color: #fff;
    background-color: #3b5998;
}

.product-info-section {
    background-color: #fffcee;
    padding: 20px 50px;
}

.product-wrapper {
    padding: 36px 0;
}

.product-wrapper .nutritional-values h5 {
    margin-bottom: 20px;
}
.product-wrapper .nutritional-values ul li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    text-transform: capitalize;
}

.product-wrapper .nutritional-values .nutritional-title {
    font-weight: 400;
    color: #000;
}
.product-info-section .product-wrapper h4 {
    margin-bottom: 20px;
}

.product-alergies {
    padding: 0 0 0 16px;
    border-left: 1px solid #000;
}
.order-product-gallery .carousel-indicators {
    display: none;
}
/*product page css end*/

/*Popup styling start*/
.modal-body .form-group {
    width: 100%;
}
.modal-body .form-group .form-control {
    margin-bottom: 10px;
}
.modal-body .form-group span.error-msg {
    font-weight: normal;
    font-size: 14px;
}
.modal-body .form-group span.error-msg.danger {
    color: red;
}

.availability-popup .form-group {
    position: relative;
}
.availability-popup .form-group i {
    position: absolute;
    right: 20px;
    top: 68px;
}
/*Popup styling end*/

/* dropdown */
/*.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: ' ';
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown-toggle {
    white-space: nowrap;
    color: #fff !important;
}
li.dropdown-submenu ul.dropdown-menu li a {
    color: #fff !important;
}
.menu-bar .dropdown-submenu {
    position: relative;
    background: #fff;
    color: #000;
    padding: 4px 10px;
    border-radius: 4px;
}
.menu-bar .dropdown-submenu .dropdown-toggle {
    color: #000 !important;
}
.menu-bar .dropdown-submenu ul.dropdown-menu li {
    padding: 5px 0;
    background: #fff;
}
.menu-bar .dropdown-submenu ul.dropdown-menu li a {
    color: #000 !important;
}
.menu-bar .dropdown-submenu > a:after {
    display: block;
    content: ' ';
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
    margin-top: 5px;
    margin-right: 2px;
}
.menu-bar {
    position: relative;
    top: 9px;
}*/
/* dropdown */

/*Dropdown menu main start*/
.main-menu-nav .navbar .navbar-nav > li > .nav-link {
    color: #fff;
}
.main-menu-nav .navbar-nav .dropdown-menu {
    background-color: #fff;
}
.main-menu-nav .navbar-nav .active-menuitem:hover {
    background-color: #000 !important;
}
.main-menu-nav .navbar .navbar-nav li {
    border-bottom: 1px solid #ccc;
}
.main-menu-nav .navbar .navbar-nav .dropdown-menu li a:hover {
    color: #1d2534;
    font-weight: bold;
}
.mobile-menu {
    position: relative;
    top: 0;
    color: #ddd;
}
@media screen and (max-width: 812px) {
    li.dropdown.cart_dropdown a.nav-link.cart_trigger {
        padding: 0 !important;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    ul.navbar-nav.attr-nav.align-items-center li.dropdown.cart_dropdown {
        margin-top: 0 !important;
        margin-bottom: 10px;
    }
    .main-menu-nav .navbar .navbar-nav > li > .nav-link {
        color: inherit;
    }

    body .mobile-category-list{
        display: none !important;
    }
    .row.top-header a.sign {
        float: none;
    }
    button.theme_btn {
        width: 90%;
    }
}
/*Dropdown menu main end*/

/*checkout section*/
.checkout-status {
    background: #fbfbfb;
}
.pointer-none {
    pointer-events: none;
    background: #607d8b !important;
}
/*checkout section*/

/* sign in section start */
.breadcrumbs:after {
    background: transparent;
}
.login-status {
    border: 1px solid #ccc;
    padding: 24px;
    border-radius: 8px;
    margin: 0 0 20px 0;
    background: #f3f3f3;
}
.login-status p {
    padding: 0;
    margin: 0;
}
.customer-dashboard-section {
    margin-top: 20px;
}
.customer-dashboard-section .nav-menu {
    list-style: none;
    border: 1px solid #ccc;
    padding: 24px;
    border-radius: 8px;
    background: #f3f3f3;
}
.customer-dashboard-section .nav-menu li {
    margin-bottom: 5px;
}
.customer-dashboard-section .nav-menu li a {
    color: #687188;
}
.customer-dashboard-section .nav-menu li a:hover {
    color: #292b2c;
}
.customer-dashboard-section .nav-menu li.active a {
    font-weight: bold;
}
/* sign in section end */
.sub-banner {
    margin-bottom: 20px;
}
.product-category-detail p {
    text-align: center;
}
.product-category-detail h1.page-title {
       text-transform: capitalize;
}
.menu-area {
    background: #d61a5e;
}
.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition !important;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.mainmenu a,
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    padding: 16px 15px;
    font-family: 'Roboto', sans-serif;
    display: block;
}
.mainmenu .active a,
.mainmenu .active a:focus,
.mainmenu .active a:hover,
.mainmenu li a:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav > .show > a,
.navbar-default .navbar-nav > .show > a:focus,
.navbar-default .navbar-nav > .show > a:hover {
    color: #fff;
    background: #101010;
    outline: 0;
}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a {
    background: #101010;
}
.mainmenu .collapse ul ul > li:hover > a,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
    background: #ddd;
}
.mainmenu .collapse ul ul ul > li:hover > a {
    background: #ddd;
}

.mainmenu .collapse ul ul,
.mainmenu .collapse ul ul.dropdown-menu {
    background: #fff;
}
.mainmenu .collapse ul ul ul,
.mainmenu .collapse ul ul ul.dropdown-menu {
    background: #fff;
}
.mainmenu .collapse ul ul ul ul,
.mainmenu .collapse ul ul ul ul.dropdown-menu {
    background: #64b5f6;
}

/******************************Drop-down menu work on hover**********************************/
.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
    width: 100%;
}
@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li:hover > ul {
        display: block;
    }
    .mainmenu .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        display: none;
    }
    /*******/
    .mainmenu .collapse ul ul li {
        position: relative;
    }
    .mainmenu .collapse ul ul li:hover > ul {
        display: block;
    }
    .mainmenu .collapse ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 250px;
        display: none;
    }
    /*******/
    .mainmenu .collapse ul ul ul li {
        position: relative;
    }
    .mainmenu .collapse ul ul ul li:hover ul {
        display: block;
    }
    .mainmenu .collapse ul ul ul ul {
        position: absolute;
        top: 0;
        left: -100%;
        min-width: 250px;
        display: none;
        z-index: 1;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 35px;
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 45px;
    }
}
.wishlist-icon i{
    text-align: center;
    margin: 20px auto -6px auto;
}
.description a.title {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}
a.wishlist_btn.d-flex.align-items-center.justify-content-between {
    padding: 10px 10px 10px 0;
    font-size: 22px;
}
.frm-check .tab-content {
    margin-top: 0px;
}
.main-menu-nav {
    margin-top: 5px;
}


span {
    cursor: pointer;
}

.number {
    margin: 10px 0;
    text-align: center;
}

.number .minus,
.number .plus {
    width: 30px;
    height: 30px;
    line-height: 13px;
    background: #1d2534;
    color: #fff;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.number input {
    height: 34px;
    width: 60%;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}
 
